*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
docs/figma_ui_kit.html
docs/figma_ui_kit.html
figma_ui_kit.html
storage/framework/sessions/0Ej5DycPQY6UFnAmVGIxdAJK4aYBzo9005QbG93H
storage/framework/sessions/dHjGT2bFr5oltny2aDLu1A1g3rTRk0hVVmCCGnoR
storage/framework/sessions/LcHEwsnfiMoGfEPGlTJhuOY6JvyaOKIo8xU9yayE
storage/framework/sessions/cXMgbYxngVb1NZ2JR8XTLfvWy9BZEQqOmi4BId06
